doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Pets
        a(href="/update-cobj").next-link Add/update form
        table
            tr
                th Name
                th Age
                th Type
            each pet in results
                tr
                    td #{pet.properties.name}
                    td #{pet.properties.age}
                    td #{pet.properties.type}